.part {
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
}



.pic {
    height: px;
    width: 250px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;

}

div {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    height: 1000px;
    justify-content: space-evenly;
}

body {
    display: flex;
    flex-direction: row;
}