.cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#head {
    height: 200px;
    background-color: #ADC4CE;
    display: flex;
    flex-direction: column;



}

#list {
    display: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

li a {
    text-decoration: none;
    color: #2d2f31;
}

label {
    display: none;
}

nav {
    width: 150px;
    background: none;
    margin: 40px auto;
    border-radius: 20px;
}

#img1 {
    background-image: url(oglogo.jpeg);

    background-size: contain;
}

span {
    padding: 10px;
    background: none;
    color: white;
    font-size: 1em;
    font-variant: small-caps;
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: 30px;
}

span::after {
    float: right;
    right: 10%;

    font-size: larger;
}

#wow {
    width: 100%;
    height: 100vh;
    background-image: url(wow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

.slide li {
    padding: 30px;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 300px;
}

#begn {
    height: 250px;
    display: flex;
    flex-direction: row;
    background-color: beige;
    justify-content: space-around;
    margin-bottom: 50px;
    background-image: url(cover.png);
    background-size: cover;
    background-repeat: no-repeat;

}

#begn button {
    height: 45px;
    width: 100px;
    border-radius: 20px;
    align-self: flex-end;
    background: none;
    border: 5px white solid;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#img1 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 7px solid white;
}

#logo {
    background-image: url(oglogo.jpeg);
    background-size: cover;
}


#current {
    opacity: 60%;
}

#head button {
    font-size: 20px;
    margin-right: 10px;
    border-radius: 15px;

}

#tabs button {
    height: 40px;
    width: 80px;
    border-radius: 20px;

    border: 3px solid wheat;
}

#tabs button a {
    text-decoration: none;
    color: #d0c0ab;
}

h1 {
    margin: 0px;
    padding: 0px;
    align-self: flex-start;
}

.sub:nth-child(odd) {
    display: inline-block;


}

header {
    height: 140px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ADC4CE;

}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid whitesmoke 3px;
}

#tabs {

    align-self: flex-end;
    margin-bottom: 10px;
}

#bar {
    position: fixed;
    right: 0px;
    top: 150px;
    width: 150px;
    height: 550px;
    background-color: #F1F0E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;

    opacity: 75%;
}

#bar:hover {
    opacity: 90%;
}

#bar button {
    height: 40px;
    width: 80px;
    align-self: center;
}

button {
    transition: 1s;
}

#begn button:hover {
    background-color: #96B6C5;
    color: blanchedalmond;
}

footer {

    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

#head p {
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 30px;
}

#cont {
    display: flex;
    flex-direction: row;

}


.sub {
    margin: 20px 10px 40px 75px;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 250px;
    border: 3px solid #C4C1A4;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;

}

.sub p {
    font-size: larger;
}

.sub:nth-child(even) {

    display: inline-block;


}

.sub button {
    display: block;
    justify-self: center;

    margin-top: 10px;
    text-align: center;
    border-radius: 30px;
    align-self: center;
    height: 30px;
    width: 80px;
    margin-left: 95px;
}

img {
    display: block;
    height: 200px;
    width: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

h1 {
    padding: 40px;
    text-align: center;
    font-size: 1.5em;
}

li a {
    text-decoration: none;
    color: #2d2f31;
}


nav {
    width: 300px;
    */ background: #d9d9d9;
    */ margin: 40px auto;
    */
}

span {
    padding: 30px;
    background: #2e3337;
    color: white;
    font-size: 1.2em;
    font-variant: small-caps;
    cursor: pointer;
    display: block;
}

span::after {
    float: right;
    right: 10%;
    content: "+";
}

.slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

.slide li {
    padding: 30px;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 300px;
}

nav {
    display: none;
}

#logo img {
    height: inherit;
    width: inherit;
    border-radius: 50%;
}


footer {
    height: 300px;
    background-color: #96B6C5;
}

@media screen and (max-width:600px) {
    .cont {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: contents;
    }

    #begn {
        flex-direction: column;
    }

    #begn button {
        display: none;
    }

    #wow {
        display: none;
    }

    label {
        display: contents;
        margin-left: 300px;
    }

    nav {
        margin-left: 200px;
    }

    nav li {
        list-style: none;
        text-align: left;
        background-color: #d2dce7;
        opacity: 70%;
    }

    nav li :hover {
        opacity: 100%;
    }



    #list {
        display: block;
        display: contents;
        color: aliceblue;



        font-size: 40px;





    }

    #spec {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    main {
        flex-direction: column;

        align-items: center;

    }

    .part {
        text-align: center;
    }

    .part:nth-child(1) {
        border-right: none;
    }

    .part:nth-child(3) {
        border-left: none;
    }

    .part:nth-child(2) {
        border-top: silver 3px solid;
        border-bottom: silver 3px solid;
    }

    .active {
        display: contents;
        transition: 1s;
    }

    .dropdown {
        min-width: 15em;
        position: relative;
        margin: 2em;
    }

    .dropdown * {
        box-sizing: border-box;
    }

    .select {

        color: brown;
        display: flex;

    }

    #bar {
        display: none;
    }

    .menu {
        list-style: none;
        padding: 0.2em o.5em;

        border: 1px solid black;
        position: absolute;
        top: 3em;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
    }

    #main {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:600px) {
    #begn {
        flex-direction: column;
    }

    #begn button {
        display: none;
    }

    #wow {
        display: none;
    }

    label {
        display: contents;
        margin-left: 300px;
    }

    nav {
        margin-left: 200px;
    }

    nav li {
        list-style: none;
        text-align: left;
        background-color: #d2dce7;
        opacity: 70%;
    }

    nav li :hover {
        opacity: 100%;
    }



    #list {
        display: block;
        display: contents;
        color: aliceblue;



        font-size: 40px;





    }

    #spec {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    main {
        flex-direction: column;

        align-items: center;

    }

    .part {
        text-align: center;
    }

    .part:nth-child(1) {
        border-right: none;
    }

    .part:nth-child(3) {
        border-left: none;
    }

    .part:nth-child(2) {
        border-top: silver 3px solid;
        border-bottom: silver 3px solid;
    }

    .active {
        display: contents;
        transition: 1s;
    }

    .dropdown {
        min-width: 15em;
        position: relative;
        margin: 2em;
    }

    .dropdown * {
        box-sizing: border-box;
    }

    .select {

        color: brown;
        display: flex;

    }

    #bar {
        display: none;
    }

    .menu {
        list-style: none;
        padding: 0.2em o.5em;

        border: 1px solid black;
        position: absolute;
        top: 3em;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
    }

    #main {
        justify-content: center;
        align-items: center;
    }
}

.sub {
    border: 3px solid rgb(211, 222, 233);
    margin-right: 30px;
    height: 400px;
    width: 250px;
    border-radius: 20px;
}

.sub img {
    height: 300px;
    width: 250px;
    border-radius: 20px;
}

#img1 {
    background-image: url(oglogo.jpeg);
    flex-direction: row;
    justify-self: flex-end;
    background-size: contain;
}

footer {
    height: 300px;
    background-color: #96B6C5;
    text-align: center;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
    color: white;
}

button {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background-color: beige;
}

i a {
    text-decoration: none;
    color: #2d2f31;
}

label {
    display: none;
}

nav {
    width: 150px;
    background: none;
    margin: 40px auto;
    border-radius: 20px;
}

span {
    padding: 10px;
    background: none;
    color: white;
    font-size: 1em;
    font-variant: small-caps;
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: 30px;
}

span::after {
    float: right;
    right: 10%;

    font-size: larger;
}

.slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

.slide li {
    padding: 30px;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 300px;
}

body {
    margin: 0;
}

button {
    transition: 1s;
}